{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Sign-in/sign-up {% endblock title%}
{% block content %}
<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">4friends</h3>
                            <p class="text-muted mb-4">Login to catch up with your friends.</p>

                            <!-- this is the  form -->



                            <form method="POST">
                                {{form|crispy}}
                                {% csrf_token %}
                                <div class="custom-control custom-checkbox mb-3">
                                    <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                    <label for="customCheck1" class="custom-control-label">Remember password</label>
                                </div>
                                <p class="text-muted mb-4">Don't have an account? Create a new one <a href='#'>here.</a>
                                </p>
                                <button type="submit"
                                    class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign
                                    in</button>
                            </form>
                            <!-- end of login form -->
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>

{% endblock content %}